<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>サイトタイトル</title>
  <meta name="description" content="ディスクリプションを入力">
  <link rel="stylesheet" href="..\..\static\css\User_searchStyle.css">

<body>

  <div class="containaer">
    <p class="user" style="margin-left: 45%;margin-top: 13%;">大会主催者を検索</p>
    <div class="search_container">
      <input type="search" name="s" placeholder="">
      <input type="button" class="search_button " value="検索する">
    </div>
  </div>
  <div class="containaer">
    <p class="user" style="margin-left: 45%;margin-top: 1%;">ゲームを検索</p>
    <div class="search_container">
      <input type="search" name="s" placeholder="">
      <select name=”item”>
        <option value="">ゲームの種類</option>
        <option value=”item1”>項目1</option>
        <option value=”item2”>項目2</option>
        <option value=”item3”>項目3</option>
        <option value=”item4”>項目4</option>
        <option value=”item5”>項目5</option>
        <option value=”item6”>項目6</option>
        <option value=”item7”>項目7</option>
        <option value=”item8”>項目8</option>
        <option value=”item9”>項目9</option>
        <option value=”item10”>項目10</option>
      </select>
      <input type="button" class="search_button " value="検索する">
    </div>
  </div>
  
  <input type="button" class="buck_button " value="戻る" />

</body>

</html>