<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>大会概要画面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
  </head>
  <body>
    <input type="button" onclick="location.href='admin/userlist'" value="ユーザー一覧へ">
    <input type="button" onclick="location.href='admin/reportlist'" value="通報情報">
    <input type="button" onclick="location.href='admin/complist'" value="大会一覧">
  </body>
</html>