<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>サイトタイトル</title>
  <meta name="description" content="ディスクリプションを入力">
  <link rel="stylesheet" type="text/css" href="../../static/css/UserSearchStyle.css" th:href="@{/css/AdminStyle.css}">

<body>

  <div class="containaer">
    <form th:action="@{/admin/searchcomp-un}" method="post">
    <p class="user" style="margin-left: 45%;margin-top: 13%;">大会主催者を検索</p>
    <div class="search_container">
      <input type="text" name="username_ss">
        <input type="submit" name="form" value="検索">
    </div>
    </form>
  </div>
  <div class="containaer">
    <form th:action="@{/admin/searchcomp}" method="post">
    <p class="user" style="margin-left: 45%;margin-top: 1%;">ゲームを検索</p>
    <div class="search_container">
      <select class="input-item" name="game_id">
        <option value="0"></option>
        <option th:each="game:${gameList}" th:value="${game.game_id}" th:text="${game.game_name + '(' + game.hard + ')'}" th:selected="${game.game_id == selectedValue}"></option>
      </select>
      <input type="submit" name="form" value="検索">
    </div>
    </form>
  </div>
  
  <input type="button" class="buck_button" onclick="location.href='/admin'" value="戻る" />

</body>

</html>