<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>大会一覧サンプル</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/UsersearchStyleSample.css" th:href="@{/css/UsersearchStyleSample.css}"/>
  </head>
  <body>
    <main class="main-container">
    <div class="center-main-container">
    <p>検索結果：</p>
    <table> 
      <tr th:each="cm : ${compList}"> 
        <form th:action="@{/admin/compdetail}" name="form"method="post">
          <div class="center-main-item linkbox">
            <div th:text="${cm.comp_name}"></div>
            <input type="hidden" name="comp_id" th:value="${cm.comp_id}"/>
            <button type="submit" title="compdetail_button"></button>
          </div>
        </form>
      </tr>
    </table>
    </div>
    </main>
  </body>
</html>