<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>大会詳細サンプル</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
  </head>
  <body>
<!--大会情報全表示する-->
    <table>
      <form th:action="@{/admin/compdelete}" name="form" method="post">
      検索結果：
        <tr th:each="cd : ${compDetail}"> 
          <td th:text="${cd.comp_id}"></td>
          <td th:text="${cd.comp_name}"></td>
          <td th:text="${cd.host_user_id}"></td>
          <td th:text="${'🎮【' + cd.gameBean.hard + '】' + cd.gameBean.game_name}">🎮</td>
          <td th:text="${cd.description}"></td>
          <td th:text="${cd.host_nickname}"></td>
          <td th:text="${cd.start_date}"></td>
          <td th:text="${cd.end_date}"></td>
          <td th:text="${cd.limit_of_participants}"></td>
          <td th:text="${cd.deadline}"></td>
          <input type="hidden" name="comp_id" th:value="${cd.comp_id}"/>
          <input type="submit" name="form" class="search_button" value="削除する">
        </tr>
      </form>
    </table>
  </body>
</html>