<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>通報内容表示</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/AdminReportingDetailsStyle.css" th:href="@{/css/AdminReportingDetailsStyle.css}">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <div class="header-item">
      </div>
    </div>
    <div class="right-container">
    </div>
  </div>
</header>
<form th:action="@{/admin/ban_from_report}" name="form" method="post">
  <main>
    <table>
        <div id="mask"></div>
        <div id="dialog">
          BANします。本当によろしいですか？
          <div th:each="rd : ${reportDetail}"> 
            <input type="hidden"  name="suspicious_user_id" th:value="${rd.suspicious_user_id}"/>
            <input type="submit" class="button-item" value="BAN">
          </div>
          <button id="no" class="button-item">いいえ</button>
        </div>
      <div id="input-container">
        <tr th:each="rd : ${reportDetail}"> 
          <p>大会名　   :<input readonly type="text" class="input-item" name="comp_name" th:value="${rd.compBean.comp_name}"></p>
        </tr>
        <tr th:each="rud : ${reuserDetail}"> 
          <p>通報者user名   :<input readonly type="text" class="input-item" name="re_user_name" th:value="${rud.user_name}"></p> 
        </tr>
        <tr th:each="sud : ${suuserDetail}">
          <p>対象者user名   :<input readonly type="text" class="input-item" name="su_user_name" th:value="${sud.user_name}"></p> 
        </tr>
        <tr th:each="rd : ${reportDetail}"> 
        <p>通報時間　:<input readonly type="datetime-local" class="input-item" name="reported_date" th:value="${rd.reported_date}"></p>
        <div id="description-container">
          <p>通報内容　:</p>
          <textarea readonly class="input-item-ta" name="description" cols="30" rows="5" style="resize: none">[[${rd.report_reason}]]</textarea>
        </div>
        </tr>
      </div>
      <div id="button-container">
        <input type="button" class="button-item" onclick="location.href='/admin/reportlist'" value="戻る">
        <input type="button" id="banbtn" class="button-item" value="BAN">
      </div>
    </table>
  </main>
<!--</form>-->
<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

<script th:inline="javascript">
  const banbtn = document.getElementById('banbtn')
  const dialog = document.getElementById('dialog')
  const mask = document.getElementById('mask')
  const no = document.getElementById('no')
  banbtn.addEventListener('click',function start() {
    dialog.style.display = 'block'
    mask.style.display = 'block'
  })
  no.addEventListener('click',function back(){
    dialog.style.display = 'none'
    mask.style.display = 'none'
  })
</script>
</body>
</html>