<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ユーザープロフィール</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/UserProfileForAdminStyle.css" th:href="@{/css/UserProfileForAdminStyle.css}">
</head>

<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <div class="header-item">
        </div>
      </div>
      <div class="right-container">
      </div>
      </div>
    </div>

  </header>
<form th:action="@{/admin/ban_from_user}" name="form" method="post">
  <main>
        <div id="mask"></div>
        <div id="dialog">
          BANします。本当によろしいですか？
          <div th:each="ud : ${userDetail}" > 
            <input type="hidden" name="user_id" th:value="${ud.user_id}"/>
            <input type="submit" class="button-item">
          </div>
          <button id="no" class="button-item">いいえ</button>
        </div>
    <tr th:each="ud : ${userDetail}">
      <p>
      <div class="display-item" th:text="${'ユーザー名    : ' + ud.user_name}"></div>
      </p>
      <p>
      <div class="display-item" th:text="${'メールアドレス    : ' + ud.mail_address}"></div>
      </p>

      <div class="play-game-container">
        <div class="child left-play-game-container">
          <div class="play-game-item">プレイするゲーム :</div>
        </div>
        <div class="child right-play-game-container">
          <div th:each="gm : ${game_List}" class="play-game-item" th:text="${gm.game_name + '(' + gm.hard + ')'}"></div>
        </div>
      </div>
      <p></p>

      <div id="description-container">
        <div class="display-item-ta" th:text="${'自己紹介    : ' + ud.note}" cols="30" rows="5" style="resize: none"></div>
      </div>
      <div style="margin: 30px;"></div>

      <div id="button-container">
        <input type="button" class="button-item" onclick="location.href='/admin/userlist'" value="戻る">
        <input type="button" id="banbtn" class="button-item" value="BAN">
      </div>
    </tr>
  </main>
</form>
  <footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>

  <script th:inline="javascript">
    const banbtn = document.getElementById('banbtn')
    const dialog = document.getElementById('dialog')
    const mask = document.getElementById('mask')
    const no = document.getElementById('no')
    banbtn.addEventListener('click',function start() {
      dialog.style.display = 'block'
      mask.style.display = 'block'
    })
    no.addEventListener('click',function back(){
      dialog.style.display = 'none'
      mask.style.display = 'none'
    })
  </script>

</body>

</html>