<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <meta name="description" content="ディスクリプションを入力">
 <link rel="stylesheet" href="..\..\static\css\User_searchStyle.css">
<body>
  <div class="editor"></div>

  <div class="sukima_top"></div>


  <p id="name">ユーザー検索</p>
 <div class="user_search">
  
    <div>
      
      <input type="search" name="s" placeholder="">
    </div>
  </div>
    <input type="button" class="search_button "value="検索する" >
  

 
 
<div class="sukima_top"></div>


<input type="button" class="buck_button "value="戻る" />
 
 </body>
 <div class="sukima_ume"></div>
 
</html>