<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <meta name="description" content="ディスクリプションを入力">
 <link rel="stylesheet" href="..\..\static\css\User_searchStyle.css">
<body>
  <div class="editor">Content box</div>

  <div class="sukima_top"></div>

<body>
  <div class="editor">Content box</div>
</body>
  
 <div class="user_search">
  <form method="post" action="URL" method="get">
    <div>
      <label for="search">ユーザー検索</label>
      <input type="search" name="s" placeholder="">
    </div>
    <input type="submit" value="検索する" />
  </form>
</div>
 
 
<div class="sukima_top"></div>



 
 </body>
 <div class="sukima_top"></div>

</html>