<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ユーザー一覧</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/UsersStyle.css" th:href="@{/css/UsersStyle.css}">
</head>

<body>
    <main class="main-container">
        <div class="left-main-container">
            <input class="left-main-item" type="button" onclick="location.href='/admin/userlist'" value="戻る">
        </div>
        <div class="center-main-container">
            <div class="heading">
                <p>ユーザー 一覧</p>
            </div>
            <tr th:each="us : ${userList}"> 
                <form th:action="@{/admin/userdetail}" name="form"method="post">
                    <div class="center-main-item linkbox">
                        <div class="text" th:text="${'ユーザー名：'+us.user_name}"></div>
                        <input type="hidden" name="user_id" th:value="${us.user_id}"/>
                        <button type="submit" title="userdetail_button"></button>
                    </div>
                </form>
            </tr>
        </div>
    </main>
</body>

</html>