<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ユーザー一覧</title>
    <link rel="stylesheet" href="../../static/css/UsersStyle.css" th:href="@{/css/HomeStyle.css}">
</head>

<body>



    <main class="main-container">
        <div class="left-main-container">
            <input class="left-main-item" type="button" onclick="location.href=''" value="戻る">
        </div>
        <div class="center-main-container">
            <div class="heading">
                <p>ユーザー 一覧</p>
            </div>
            <!--ここから自動生成-->
            <div class="center-main-item">
                <div class="text">hoge_user1</div>
            </div>
            <!--ここまで自動生成-->
        </div>
    </main>


</body>

</html>