<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <meta name="description" content="ディスクリプションを入力">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="..\..\static\css\User_searchStyle.css">
<body>
    



 <div class="sukima"></div>
 

 <div class="user_search">
 <form action="サイトURLらしい" method="get">
    <p>ユーザー名</p>
    <input type="search" name="search" >
    <input type="submit" name="submit" value="検索">
  </form>
</div>
 
 
<div class="sukima"></div>


 
 </body>
</html>