<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ユーザー編集画面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/Style.css" th:href="@{/css/style.css}"/>
  </head>
  <body>
<!--korewakarn-->
    <table>
      <tr th:each="eu : ${edituser}"> 
        <td th:text="${eu.user_name}"></td>
        <td th:text="*{eu.mail_address}"></td>
        <td th:text="${eu.password}"></td>
        <td th:text="${eu.password}"></td>
        <td th:text="${eu.self-introduction}"></td>
        
        <td>
          <form th:action="@{/users/edit}" method="post">
            <input type="submit" name="form" value="編集" />
            <input type="hidden" name="comp_id" th:value="${ov.comp_id}"/>
          </form>
        </td>
        <td>
          <form th:action="@{/users/delete}" method="post">
            <input type="submit" name="form" value="削除" />
            <input type="hidden" name="comp_id" th:value="${ov.comp_id}"/>
          </form>
        </td>
      </tr>
    </table>
    <input type="button" onclick="location.href='/comp'" value="ホーム画面へ">
  </body>
</html>