<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ユーザー作成</title>
  <link rel="stylesheet" href="..\..\static\css\CreateUserStyle.css" th:href="@{/css/CreateUserStyle.css}">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <img src=images\cat_logo.png  class="header-item" width="90px" height="60px">
      <div class="header-item">
        <input type="search" name="search" placeholder="大会を検索">
        <input type="submit" name="submit" id="search_button" value="検索">
      </div>
    </div>
    <div class="right-container">
      <div class="header-item">user icon</div>
      <div class="header-item">user name</div>
      </div>
  </div>

</header>

<form th:action="@{/users/create}" th:object="${userForm}" method="post">
  <main>
    <p>ユーザー名　　　：<input type="text" class="input-item" name="user_name" th:field="*{user_name}"></p>
    <p>パスワード　　　：<input type="text" class="input-item" name="password" th:field="*{password}"></p>
    <p>メールアドレス　：<input type="email" class="input-item" name="mail_address" th:field="*{mail_address}"></p>
    <div id="description-container">
      <p>自己紹介　　　：</p><textarea class="input-item-ta" name="note" th:field="*{note}" cols="30" rows="5" style="resize: none"></textarea>
    </div>
    <div style="margin: 30px;"></div>
    <div id="button-container">
      <input type="button" class="button-item" onclick="location.href='/users/profile'" value="戻る">
      <input type="submit" class="button-item" value="作成">
    </div>
  </main>
</form>
<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

</body>
</html>
