<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ユーザー作成</title>
  <link rel="stylesheet" href="..\..\static\css\EditUserStyle.css">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <img src=images\cat_logo.png  class="header-item" width="90px" height="60px">
      <div class="header-item">
        <input type="search" name="search" placeholder="大会を検索">
        <input type="submit" name="submit" id="search_button" value="検索">
      </div>
    </div>
    <div class="right-container">
      <div class="header-item">user icon</div>
      <div class="header-item">user name</div>
      </div>
  </div>

</header>

<tr th:each="eu : ${edituser}" > 
  <div class="user-info" >
    <div class="userid"th:text="${eu.user_id}">111111111111111</div>
    <div class="username"th:text="${eu.user_name}">1</div>
    <div class="address"th:text="${eu.mail_address}">1@gmail.com</div>
    <div class="password"th:text="${eu.password}">1234</div> 
    <div class="password" th:text="${eu.password}" >1234</div>
  <div class="myintro"th:text="${eu.self-introduction}">あああ
</div>


<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

</body>
</html>
