<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>新しいパスワード</title>
  <link rel="stylesheet" href="..\..\static\css\CreateUserStyle.css" th:href="@{/css/CreateUserStyle.css}">
  <script type="text/javascript">
    function CheckPassword(confirm){
		// 入力値取得
		var input1 = document.getElementById("password").value;
		var input2 = confirm.value;
		// パスワード比較
		if(input1 != input2){
			confirm.setCustomValidity("入力値が一致しません。");
		}else{
      const hiddenField = document.getElementById('password');
      hiddenField.value = input1;
			confirm.setCustomValidity('');
		}
	}
  </script>
</head>
<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <img th:src="${cat_logo_image}"  class="header-item" width="90px" height="60px">
        <div class="header-item">
          <input type="search" name="search" placeholder="大会を検索">
          <input type="submit" name="submit" id="search_button" value="検索">
        </div>
      </div>
      <div class="right-container">
      <img th:src="${cat_icon_image}" class="header-item" width="60px" height="60px">
      <div class="header-item-name" th:text="${user_name}">user</div>
      </div>
    </div>

    </header>
    <main>
      <form name="form1" th:action="@{/users/updatepass}" method="post">
        <div>
          <label>パスワード</label>
          <input type="password" class="input-item" name="password" id="password" required>
        </div>
        <div>
          <label>パスワード (再確認)</label>
          <input type="password" class="input-item" name="confirm" id="confirm" oninput="CheckPassword(this)" required>
        </div>
        <div id="button-container">
          <input type="button" class="button-item" onclick="location.href='/login'" value="戻る">
        </div>
        <input type="submit" class="button-item" value="確認"> 
        <input type="hidden" name="password" id="password" />
        <input type="hidden" name="user_id" th:value="${user_id}" />
      </form>
    </main>
<footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>
</body>