<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>パスワードを変更</title>
  <link rel="stylesheet" href="..\..\static\css\CreateUserStyle.css" th:href="@{/css/CreateUserStyle.css}">
  <script type="text/javascript">
    function func() {
      const hiddenField = document.getElementById('mail_address');
      const hiddenField2 = document.getElementById('password');
      hiddenField.value = document.getElementById('mailaddress').value;
      hiddenField2.value = document.getElementById('password').value;
    }
  </script>
</head>
<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <img th:src="${cat_logo_image}"  class="header-item" width="90px" height="60px">
        <div class="header-item">
          <input type="search" name="search" placeholder="大会を検索">
          <input type="submit" name="submit" id="search_button" value="検索">
        </div>
      </div>
      <div class="right-container">
      <img th:src="${cat_icon_image}" class="header-item" width="60px" height="60px">
      <div class="header-item-name" th:text="${user_name}">user</div>
      </div>
    </div>

    </header>
      <main>
        <form th:action="@{/users/up_password}" name="form1" method="post">
        <div class="validationError">
          <tr th:if="${validationError}" th:each="error : ${validationError}">
            <td th:text="${error}"></td><br>
          </tr>
        </div>
        <p>メールアドレス　　：<input type="email" class="input-item" name="mailaddress" id="mailaddress" required></p>
        <p>パスワード　　　　：<input type="password" class="input-item" name="password" id="password" required></p>
      <div id="button-container">
        <input type="button" class="button-item" onclick="location.href='/login'" value="戻る">
      </div>
        <input type="submit" class="button-item" th:onclick="|func()|" value="確認"> 
        <input type="hidden" name="mail_address" id="mail_address" />
        <input type="hidden" name="password" id="password" />
      </form>
      </main>
  <footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>
</body>