<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ユーザー作成</title>
  <link rel="stylesheet" href="..\..\static\css\EditUserStyle.css" th:href="@{/css/EditUserStyle.css}">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <img src=..\..\images\cat_logo.png  class="header-item" width="90px" height="60px">
      <div class="header-item">
        <input type="search" name="search" placeholder="大会を検索">
        <input type="submit" name="submit" id="search_button" value="検索">
      </div>
    </div>
    <div class="right-container">
      <div class="header-item">user icon</div>
      <div class="header-item">user name</div>
      </div>
  </div>

</header>

<table>
<tr th:each="us : ${profile}">
  <main>
    <p><div class="display-item" th:text="${'ユーザー名    : ' + us.user_name}"></div></p>
    <p><div class="display-item" th:text="${'メールアドレス    : ' + us.mail_address}"></div></p>
    

     
    <!--<details>
      
      <summary>プレイするゲーム(複数選択可)</summary>
      <p><label><input type="checkbox" name="riyu" value="1">Tom Clancy's Rainbow Six Siege【PS4】</label></p>視覚的に選びやすくする
      <p><label><input type="checkbox" name="riyu" value="1">Tom Clancy's Rainbow Six Siege【PC】</label></p>
      <p><label><input type="checkbox" name="riyu" value="1">Keep Talking and Nobody explodes【PC】</label></p>
    </details>
    </label>-->

    <div id="description-container">
      <p>自己紹介　   ：</p><div class="display-item-ta" th:text="${us.note}" cols="30" rows="5" style="resize: none"></div>
    </div>
     

    <div style="margin: 30px;"></div>
    
    <div id="button-container">
      <input type="button" class="button-item" onclick="location.href='/comp'" value="戻る">
      <form th:action="@{/logout}" method="post"><input type="submit" class="button-item" value="ログアウト" /></form>
      <form th:action="@{/users/edit}" method="post">
        <input type="submit" class="button-item" name="form" value="編集" />
        <input type="hidden" name="user_id" th:value="${us.user_id}"/>
        <input type="hidden" name="password" th:value="${us.password}"/>
      </form>
    </div>
  </main>
</form>
<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

</body>
</html>
