body{
    margin: 0px;
    background-color: black;
  }
  .header-container{
    background: linear-gradient(red,70%, black);
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .left-container{
    display: flex;
    /*background-color: greenyellow;*/
    margin: 0px;
    justify-content: flex-start;
  }
  .right-container{
    display: flex;
    /*background-color: greenyellow;*/
    margin: 0px;
    justify-content: flex-end;
  }
  .header-item{
    /*background: #0bd;*/
    color: #fff;
    margin: 10px;
    padding: 10px;
  }
  #search_button{
    cursor: pointer;
  }

  main{
    background-color: rgb(83, 83, 83);
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom: 2%;
    border-radius: 15px 15px 15px 15px;
    
  }
  main p{
    font-size: 30px;
    color: white;
  }
  #input-container{
    display: flex;
    flex-direction: column;
    
  }
  .input-item{
    height: 30px;
    font-size: 90%;
    color: white;
    background-color: transparent; /* 無色するやつ */
    border-color : transparent;
    
  }
  .input-item-ta{
    width: 500px;
    font-size: 27px;
    overflow-y: scroll;
  }
  .input-item-chat{
    color: rgb(170, 170, 170);
    background-color: transparent; /* 無色するやつ */
    border-color : black;
    
  }
  .input-item-ta-chat{
    color: rgb(120, 120, 120);
    width: 500px;
    font-size: 27px;
    overflow-y: scroll;
  }
  #button-container{
    display: flex;
    justify-content: space-between;
  }
  .button-item{
    background-color: white;
    font-size: 30px;
    color: rgb(10, 108, 255);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    margin-right: auto;
  }
  .button-item-par{
    background-color: rgb(60, 255, 40);
    font-size: 30px;
    color: rgb(10, 108, 255);
    padding-top: 15px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 15px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    margin-right: 28%;
  }
  .button-item-chat{
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .button-item:active{
    background-color: gray;
  }
  .button-item-imp:active{
    background-color: gray;
  }
  .button-item-chat:active{
    background-color: gray;
  }

  #temp-footer{
    display: flex;
    background: linear-gradient(black,20%, red);
    justify-content: center;

  }

  #description-container{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
  }