body {
    background: linear-gradient(rgb(0, 0, 0), 45%, rgb(255, 0, 0));
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-width: 1200px;
}

input[type="search"] {
    width: 450px;
    /*検索バーの横幅*/
    padding: 25px;
    /*検索バーの縦幅*/
    font-size: 30px;
    /*文字サイズ*/
    border: solid 2px #cccccc;
    border-radius: 5px;
}

.search_button {
    padding: 10px;
    font-size: 28px;
    border: solid 2px #cccccc;
    border-radius: 5px;
}

.buck_button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    padding: 10px;
    font-size: 30px;
    border: solid 2px #cccccc;
    border-radius: 5px;
}

.search_container {
    
    display: flex;
    justify-content: center;
}

.user {
    font-size: 30px;
    color: white;

    
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}