<!DOCTYPE html>
<html>
    <head>
        <title>大会作成ページ</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/create-comp.css">
        <!--link rel="icon" type="image/x-icon" href=""-->
    </head>
    <body>
        <div id="first">
        <header class="page-header">
            <h1>CAT</h1>
            <nav>
                <ul class="main-nav">
                    <li>TOPMENU</li>
                    <li>CONTACT</li>
                </ul>
            </nav>
        </header>
        <section class="rule">
            <h2>tesuto</h2>
            <article span style="background-color:rgb(255, 242, 199)">
                <h3>テスト</h3>
                <div class="setumei">
                <!--img src= align="left"-->
                これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。
                </div>
            </article>
            <article span style="background-color:rgb(255, 242, 199)" >
                <h3>主なルール</h3>
                <div class="setumei">
                <!--img src=cricket.png height=200px align="left"-->
                これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。<br>これは、ダミーです。
                </div>
            </article>
        </section>
        </div> 
        <footer>
            <p1>TE2A14</p1>
        </footer>
    </body>
</html>