<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>大会作成</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/CreateCompStyle.css" th:href="@{/css/CreateCompStyle.css}">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <a href="/comp">
        <img th:src="${cat_logo_image}"  class="header-item" width="90px" height="60px">
      </a>
      <div class="header-item">
        <input type="search" name="search" placeholder="大会を検索">
        <input type="submit" name="submit" id="search_button" value="検索">
      </div>
    </div>
    <div class="right-container">
      <a href="/users/profile">
        <img th:src="${cat_icon_image}" class="header-item" width="60px" height="60px">
      </a>
      <div class="header-item">user name</div>
      </div>
  </div>

</header>
<form th:action="@{/comp/create}" th:object="${compForm}" method="post">
  <main>
    <div class="validationError">
      <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td th:text="${error}"></td><br>
      </tr>
    </div>
    <table>
      <div id="input-container">
        <p>大会名　  :<input type="text" class="input-item" name="comp_name" th:field="*{comp_name}"></p> 
        <p>ゲーム　  :
          <select class="input-item" name="game_id">
            <option value="0"></option>
            <option th:each="game:${gameList}" th:value="${game.game_id}" th:text="${game.game_name + '(' + game.hard + ')'}" th:selected="${game.game_id == selectedValue}"></option>
          </select>
        </p>
        <div id="description-container">
          <p>概要　  :</p>
          <textarea class="input-item-ta" name="description" cols="30" rows="5" style="resize: none"></textarea>
        </div>
          <p>主催者名　：<input type="text" class="input-item" name="host_nickname" th:field="*{host_nickname}"></p>
          <p>主催者も大会に参加しますか？　<input type="radio" id="yes"name="radio_button" value="True"><label for="yes">はい</label>
                                        <input type="radio" id="no"name="radio_button" value="False" checked><label for="no">いいえ</label></p>
          <p>開始日時　:<input type="datetime-local" class="input-item" name="start_date" th:field="*{start_date}"></p>
          <p>終了日時　:<input type="datetime-local" class="input-item" name="end_date" th:field="*{end_date}"></p>
          <p>参加者上限：<input type="number"  class="input-item" name="limit_of_participants" th:field="*{limit_of_participants}"></p>
          <p>締め切り　:<input type="datetime-local" class="input-item" name="deadline" th:field="*{deadline}"></p>
        </div>
      <div id="button-container">
        <input type="button" class="button-item" onclick="history.back(-1)" value="戻る">
        <input type="submit" class="button-item" value="作成">
      </div>
    </table>
  </main>
</form>
<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

</body>
</html>