<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ユーザー確認</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/ReportStyle.css" th:href="@{/css/ReportStyle.css}">
</head>
<body>
<header>
  <div class="header-container">
    <div class="left-container">
      <img src=..\..\images\cat_logo.png  class="header-item" width="90px" height="60px">
    </div>
    <div class="right-container">
      <div class="header-item">user icon</div>
      <div class="header-item-name">user name</div>
      </div>
  </div>
</header>

<main>
  <table>
    <div class="text">大会のユーザー名：</div>
    <p><input readonly type="text" class="input-item" name="user_name" th:field="*{user_name}"></p>
    
    <div style="margin: 30px;"></div>
    <div class="button-container">
      <input type="button" class="button-item" onclick="alert('通報')" value="通報">
    </div>
  </table>
</main>

<footer>
 <div id="temp-footer">©Competition Assistance Tool</div>
</footer>
</body>
</html>