<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
  <meta charset="utf-8">
  <title>大会概要</title>
  <link rel="stylesheet" href="..\..\static\css\OverviewStyle.css" th:href="@{/css/OverviewStyle.css}">
</head>

<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <img th:src="${cat_logo_image}"  class="header-item" width="90px" height="60px">
        <div class="header-item">
          <input type="search" name="search" placeholder="大会を検索">
          <input type="submit" name="submit" id="search_button" value="検索">
        </div>
      </div>
      <div class="right-container">
        <img th:src="${cat_icon_image}" class="header-item" width="60px" height="60px">
        <div class="header-item">user name</div>
      </div>
    </div>

  </header>

  <main>
    <div class="main-container">
      <div class="left-main-container">
        <table>
          <tr th:each="po : ${participant_overview}">
            <div class="title-people-container">
              <div class="title" th:text="${po.comp_name}">初心者歓迎！ほげほげ大会</div>
              <img src="..\..\images\people.png" class="people-logo">
              <div class="people" th:text="${po.count + '/' + po.limit_of_participants}">20/50</div>
            </div>
            <div class="game-title" th:text="${'🎮【' + po.gameBean.hard + '】' + po.gameBean.game_name}">🎮【PC】Tom
              Clansy's Reinbow Six Siege</div>
            <div class="schedule-container">
              <div class="date">開催日時：</div>
              <div class="date" th:text="${po.start_date + '~' + po.end_date}">2023/3/10 13:00 ~ 2023/3/10 18:00</div>
            </div>
            <div class="deadline-container">
              <div class="date">締め切り：</div>
              <div class="date" th:text="${po.deadline + ''}">2023/3/5 23:59</div>
            </div>
            <div class="date">概要</div>
            <div class="overview" th:text="${po.description}">
              ここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示される
            </div>
            <div class="deadline-report-container">
              <div></div>
              <input type="button" class="report-button" onclick="" value="大会を通報">
            </div>
          </tr>
        </table>
      </div>
      <div class="right-main-container">
        <div class="chat">
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。あああああああああああああああああああああああああああああああああああああああああああああ</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
          <div class="comment-log">hoge_user : こんにちは。</div>
        </div>
        <div class="comment">
          <input type="text" class="comment-box">
          <input type="button" value="投稿">
        </div>
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="error"> </div>
      </div>
    </div>
    <div class="bottom-container">
      
    </div>
    <tr th:each="po : ${participant_overview}">
      <form th:action="@{/comp/entry}" name="form "method="post"> 
        <div class="bottom-container2">
          <input type="button" class="button-item" onclick="location.href='/comp'" value="戻る">
          <div class="agree-container">
            <div class="check">ルールを確認し、同意します。</div>
            <input type="checkbox" style="transform:scale(3);">
          </div>
          <input type="text" class="input-nickname" name="nickname" placeholder="ここにニックネームを入力">
          <input type="submit" class="button-item" name="form" value="参加する" /> 
          <input type="hidden" name="comp_id" th:value="${po.comp_id}"/>
        </div>
      </form>
    </tr>
  </main>

  <footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>

</body>

</html>