<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
  <meta charset="utf-8">
  <title>大会概要 - 参加者</title>
  <link rel="stylesheet" href="..\..\static\css\OverviewForParticipantsStyle.css" th:href="@{/css/OverviewForParticipantsStyle.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../../js/privatecomment.js"></script>
  <script src="../../js/privatereload.js"></script>
  <script src="../../js/deleteprivatecomment.js"></script>
  <script type="text/javascript" >
    function func(nickname,note,user_id,login_id,comp_id) {
      document.getElementById('nickname').innerHTML = nickname;
      document.getElementById('note').innerHTML = note;
      const hiddenField = document.getElementById('user_id');
      const hiddenField2 = document.getElementById('comp_id');
      hiddenField.value = user_id;
      hiddenField2.value = comp_id;
      if(user_id == login_id){
        document.getElementById('button1').style.visibility = 'hidden'
      }
      else{
        document.getElementById('button1').style.visibility = 'visible'
      }
    }</script>
    <!--
    <script>
      document.body.onclick = clickscreen();
    </script>-->
</head>

<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <a href="/comp">
          <img th:src="${cat_logo_image}"  class="header-item" width="90px" height="60px">
        </a>
        <div class="header-item">
          <input type="search" name="search" placeholder="大会を検索">
          <input type="submit" name="submit" id="search_button" value="検索">
        </div>
      </div>
      <div class="right-container">
        <a href="/users/profile">
          <img th:src="${cat_icon_image}" class="header-item" width="60px" height="60px">
        </a>
        <div class="header-item">user name</div>
      </div>
    </div>

  </header>

  <main th:each="cp : ${comp}">
    <div class="main-container">
      <div class="left-main-container">
        <table>
          <tr >
            <div class="title-people-container">
              <div class="title" th:text="${cp.comp_name}">初心者歓迎！ほげほげ大会</div>
              <img src="..\..\images\people.png" class="people-logo">
              <div class="people" th:text="${cp.count + '/' + cp.limit_of_participants}">20/50</div>
            </div>
            <div class="game-title" th:text="${'🎮【' + cp.gameBean.hard + '】' + cp.gameBean.game_name}">🎮【PC】Tom
              Clansy's Reinbow Six Siege</div>
              <div class="host-container">
                <div class="people" th:text="${'主催者：'+cp.host_nickname}">hoge_host_user</div>
              </div>
            <div class="schedule-container">
              <div class="date">開催日時：</div>
              <div class="date" th:text="${cp.start_date + '~' + cp.end_date}">2023/3/10 13:00 ~ 2023/3/10 18:00</div>
            </div>
            <div class="ov-participants-container">
              <div class="overview-container">
                <div class="people">概要</div>
                <div class="overview" th:text="${cp.description}">
                  ここに概要が表示される
                </div>
              </div>
              <div class="participants-container">
                <div class="people">参加者一覧</div>
                <div class="participants">
                  <div th:each="user: ${user}">
                    <label for="hoge_user-pop-up" th:onclick="|func('__${user.nickname}__','__${user.note}__','__${user.user_id}__','__${user.login_id}__','__${cp.comp_id}__')|" th:text="${user.nickname}">hoge_user</label>
                    <input type="checkbox" id="hoge_user-pop-up">
                    <div class="overlay">
                      <div class="window">
                        <div class="user-name"><span id="nickname"></span></div>
                        <div class="note">
                          <div><span id="note"></span></div>
                        </div>
                        <div class="button-container">
                          <label class="button-item" for="hoge_user-pop-up">戻る</label>
                          <form th:action="@{/comp/report}" method="post">
                            <input type="submit" class="button-item" id="button1" value="報告">
                            <input type="hidden" name="user_id" id="user_id">
                            <input type="hidden" name="comp_id" id="comp_id">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </table>
      </div>
      <div class="right-main-container">
        <div id="only-participants">■参加者限定チャット</div>
          <input type="hidden" id="user_id_for_comment" th:value="${user_id}">
          <div class="chat" id="commentBox">
            <div  th:each="data : ${commentList}">
                <label for="c1" class="comment-log" th:id="${data.user_id}" th:onclick="|selectfunc('__${data.comment_date}__','__${data.user_id}__')|" th:text="${data.nickname + ':' + data.comment}">hoge_user : ここは限定チャット</label>
                <input type="checkbox" id="c1">
                <button class="delete hide" th:id="${data.comment_date}" th:onclick="|deletefunc('__${data.comment_date}__')|">削除</button>
            </div>
          </div>
          <!--th:fragment="fragmentComment" th:insert="comp/fragment :: hogehoge" th:fragment="fragmentComment"-->
          <div class="comment">
            <form th:action="@{/comp/privatecheck}" method="post" id="comment_form">
              <input type="text" id="comment" name="comment" class="comment-box" required>
              <button type="submit" id="add">投稿</button>
              <input type="hidden" id="comp_id_for_comment" th:value="${comp_id}">
            </form>
          </div>
      </div>
    </div>
    <div class="button-container">
      <input type="button" class="button-item" onclick="location.href='/comp'" value="ホーム画面へ">
      <th:block th:if="${message}">
        <form th:action="@{/comp/cancel}" method="post">
          <input type="submit" class="button-item" value="参加キャンセル">
          <input type="hidden" name="comp_id" th:value="${cp.comp_id}"/>
      </th:block>    
      </form>
    </div>
  </main>

  <footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>

</body>

</html>