<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
  <meta charset="utf-8">
  <title>大会概要 - 参加者</title>
  <link rel="stylesheet" href="..\..\static\css\CompDispForParticipantsStyle.css" th:href="@{/css/OverviewStyle.css}">
</head>

<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <img src=..\..\images\cat_logo.png class="header-item" width="90px" height="60px">
        <div class="header-item">
          <input type="search" name="search" placeholder="大会を検索">
          <input type="submit" name="submit" id="search_button" value="検索">
        </div>
      </div>
      <div class="right-container">
        <div class="header-item">user icon</div>
        <div class="header-item">user name</div>
      </div>
    </div>

  </header>

  <main>
    <div class="main-container">
      <div class="left-main-container">
        <table>
          <tr th:each="ov : ${overview}">
            <div class="title-people-container">
              <div class="title" th:text="${ov.comp_name}">初心者歓迎！ほげほげ大会</div>
              <img src="..\..\images\people.png" class="people-logo">
              <div class="people" th:text="${'2/' + ov.limit_of_participants}">20/50</div>
            </div>
            <div class="game-title" th:text="${'🎮【' + ov.gameBean.hard + '】' + ov.gameBean.game_name}">🎮【PC】Tom
              Clansy's Reinbow Six Siege</div>
            <div class="schedule-container">
              <div class="date">開催日時：</div>
              <div class="date" th:text="${ov.start_date + '~' + ov.end_date}">2023/3/10 13:00 ~ 2023/3/10 18:00</div>
            </div>
            <div class="ov-participants-container">
              <div class="overview-container">
                <div class="people">概要　　：</div>
                <div class="overview" th:text="${ov.description}">
                  ここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示されるここに概要が表示される
                </div>
              </div>
              <div class="participants-container">
                <div class="people">参加者一覧：</div>
                <div class="participants">

                  <div>
                    <label for="hoge_user-pop-up">hoge_user</label>
                    <input type="checkbox" id="hoge_user-pop-up">
                    <div class="overlay">
                      <div class="window">
                        <div class="user-name">hoge_user</div>
                        <div class="note">
                          <div>hoge_userの自己紹介</div>
                        </div>
                        <div class="button-container">
                          <label class="button-item" for="hoge_user-pop-up">戻る</label>
                          <input type="button" class="button-item" value="報告">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <label for="hoge_user2-pop-up">hoge_user2</label>
                    <input type="checkbox" id="hoge_user2-pop-up">
                    <div class="overlay">
                      <div class="window">
                        <div class="user-name">hoge_user2</div>
                        <div class="note">
                          <div>hoge_user2の自己紹介</div>
                        </div>
                        <div class="button-container">
                          <label class="button-item" for="hoge_user2-pop-up">戻る</label>
                          <input type="button" class="button-item" value="報告">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>





          </tr>
        </table>
      </div>
      <div class="right-main-container">
        <div id="only-participants">■参加者限定チャット</div>
        <div class="chat">
          <div class="comment-log">hoge_user : ここは限定チャット</div>
          <div class="comment-log">hoge_user2 : ここは限定チャットここは限定チャットここは限定チャットここは限定チャットここは限定チャット</div>
        </div>
        <div class="comment">
          <input type="text" class="comment-box">
          <input type="button" value="投稿">
        </div>
      </div>
    </div>
    <div class="button-container">

      <div id="button-item-back">戻る</div>
    </div>
  </main>

  <footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>

</body>

</html>