<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>参加登録</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/InsertStyle.css" th:href="@{/css/InsertStyle.css}">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <img src=images\cat_logo.png  class="header-item" width="90px" height="60px">
      <div class="header-item">
        <input type="search" name="search" placeholder="大会を検索">
        <input type="submit" name="submit" id="search_button" value="検索">
      </div>
    </div>
    <div class="right-container">
      <div class="header-item">user icon</div>
      <div class="header-item">user name</div>
      </div>
  </div>

</header>

<main>
  <div class="main-container">
    <p>大会参加時ユーザー名：<input type="text" class="input-item" name="" id=""></p>
    
    <div class="date">備考欄：</div>
    <textarea class="input-item-ta" name="remarks" cols="30" rows="5" style="resize: none"></textarea>

    <p><input type="checkbox" name="check" value="1">ルールの確認</p>
    
    <div style="margin: 30px;"></div>
    <div id="button-container">
      <input type="submit" class="button-item" onclick="history.back(-1)" value="戻る">
      <input type="button" class="button-item" onclick="alert('参加')" value="参加">
    </div>
  </div>
</main>

<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

</body>
</html>
