<!DOCTYPE html>
<html lang=ja dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ホーム</title>
  <link rel="stylesheet" href="../../static/css/HomeStyle.css" th:href="@{/css/HomeStyle.css}">
</head>

<body>

  <header>
    <div class="header-container">
      <div class="left-container">
        <a href="/comp">
          <img th:src="${cat_logo_image}" class="header-item" width="90px" height="60px">
        </a>
        <div class="header-item">
          <form th:action="@{/comp/searchcomp}" method="post">
            <input type="search" class="comp_name" name="comp_name" placeholder="大会を検索">
            <input type="submit" class="form" name="form" value="検索">
          </form>
          <form>
            <select class="test-number" id="testnumber">
              <option value="0">ゲームジャンル選択</option>
              <option id="1" value="FPS">FPS</option>
              <option id="2" value="TPS">TPS</option>
              <option id="3" value="格闘">格闘</option>
              <option id="4" value="音楽">音楽</option>
              <option id="5" value="MOBA">MOBA</option>
              <option id="6" value="スポーツ">スポーツ</option>
              <option id="7" value="パズル">パズル</option>
              <option id="8" value="レース">レース</option>
              <option id="9" value="DCG">DCG</option>
              <option id="10" value="その他">その他</option>
              <option id="11" value="FPS・TPS">FPS・TPS</option>
            </select>
          </form>
          <form id=searchgamecomp name="searchgamecomp" th:action="@{/comp/searchgamecomp}" method="post">
            <select class="input-item game_id" name="game_id" id="game">
              <option value="0">ゲーム名検索</option>
              <option th:each="game:${gameList}" style="display:none" th:value="${game.game_id} + ',' + ${game.genre}"
                th:text="${game.game_name + '(' + game.hard + ')'}" th:selected="${game.game_id == selectedValue}">
              </option>
            </select>
            <input type="submit"class="form" name="form" value="検索">
          </form>
        </div>
        <div class="header-item">
          <div class="button-borders">
            <input class="left-main-item" type="button" onclick="location.href='/comp/CreateComp'" value="大会を開く">
          </div>
        </div>

      </div>
      <div class="right-container">
        <a href="/users/profile">
          <img th:src="${cat_icon_image}" class="header-item" width="60px" height="60px">
        </a>
        <div class="header-item-name" th:text="${user_name}">user</div>
      </div>
  </header>

  <main class="main-container">
    <div class="left-main-container">

        

    </div>
    <div class="center-main-container">
      <div class="heading">
        <p>■受付中の大会</p>
      </div>
      <table>
        <tr th:each="cm : ${comp}">
          <form th:action="@{/comp/Overview}" name="form " method="post">
            <div class="center-main-item linkbox">
              <div class="title-people-container">
                <div class="title" th:text="${cm.comp_name}"></div>
                <img th:src="${people_image}" class="people-logo">
                <div class="people" th:text="${cm.count + '/' + cm.limit_of_participants}"></div>
              </div>
              <div class="game-title" th:text="${'🎮【' + cm.gameBean.hard + '】' + cm.gameBean.game_name}"></div>
              <div class="schedule" th:text="${'日程：' + cm.start_date + '~' + cm.end_date}"></div>
              <input type="hidden" name="comp_id" th:value="${cm.comp_id}" />
              <button type="submit" title="comp_button"></button>
            </div>
          </form>
        </tr>
      </table>
    </div>
    <div class="right-main-container">
      <div class="heading">
        <p>■参加している大会</p>
      </div>
      <div class="right-main-item linkbox" th:each="part : ${participated}">
        <form th:action="@{/comp/Overview}" name="form " method="post">
          <div class="title" th:text="${part.comp_name}"></div>
          <div class="game-title" th:text="${'🎮【' + part.gameBean.hard + '】' + part.gameBean.game_name}"></div>
          <div class="nickname" th:text="${'ニックネーム：' + part.nickname}"></div>
          <input type="hidden" name="comp_id" th:value="${part.comp_id}" />
          <button type="submit" title="comp_button"></button>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <div id="temp-footer">©Competition Assistance Tool</div>
  </footer>

  <script type="text/javascript">
    const genreSelect = document.getElementById('testnumber');
    var gameSelect = document.getElementById('game');
    genreSelect.addEventListener('change', (e) =>{
      e.target.options.selected=true;
      for(let i =0;i<gameSelect.length;i++){
        var str = gameSelect[i].value.split(',');
        if(str[1] != e.target.value){
          gameSelect[i].style.display = "none";
        }
        else{
          gameSelect[i].style.display = "";
        }
      }
    })
  </script>
</body>

</html>