<!DOCTYPE html>
<html lang=ja dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ユーザー作成</title>
  <link rel="stylesheet" href="../../static/css/HomeStyle.css">
</head>
<body>

<header>
  <div class="header-container">
    <div class="left-container">
      <img src=images\cat_logo.png  class="header-item" width="90px" height="60px">
      <div class="header-item">
        <input type="search" name="search" placeholder="大会を検索">
        <input type="submit" name="submit" id="search_button" value="検索">
      </div>
    </div>
    <div class="right-container">
      <div class="header-item">user icon</div>
      <div class="header-item">user name</div>
      </div>
  </div>

</header>

<main class="main-container">
  <div class="left-main-container">
    <div class="left-main-item">item</div>
  </div>
  <div class="center-main-container">
    <div class="center-main-item">item</div>
    <div class="center-main-item">item</div>
    <div class="center-main-item">item</div>
    <div class="center-main-item">item</div>
    <div class="center-main-item">item</div>
  </div>
  <div class="right-main-container">
    <div class="item">item</div>
  </div>
</main>

<footer>
  <div id="temp-footer">©Competition Assistance Tool</div>
</footer>

</body>
</html>
